// Place all the styles related to the informaitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.informaitions {
  border-bottom: solid black;
  border-bottom-width: thin;
}

.index {
  border-bottom: solid black;
  border-bottom-width: thin;
}